<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="style.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <!-- Navbar (sit on top) -->
        <div class="w3_top">
            <div class="w3-bar w3-white w3-wide w3-padding w3-card">
                <a href="#home" class="w3-bar-item w3-button"><b>PR</b> Portfolios</a>
                <!-- Float links to the right. Hide them on small screens -->
                <div class="topnav">

                    <input type="text" placeholder="Search.." type="submit">

                </div>

                <div class="w3-right w3-hide-small" style="bottom:10px">
                    <a href="Aboutus.html" class="w3-bar-item w3-button">About us</a>
                    <a href="Profile.html" class="w3-bar-item w3-button">Profile</a>
                    <a  class="w3-bar-item w3-butt  on">Historic</a>
                    <a href="contact.html" class="w3-bar-item w3-button">Contact</a>
                </div>
            </div>
        </div>

        <!-- Header -->
        <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
            <div class="content" class="w3-display-middle w3-margin-top w3-center">

            </div>
        </header>

        <!-- Page content -->
        <div class="content" class="w3-content w3-padding" style="max-width:1564px">
        </div>

        {% if app.user %}
            <a href="/logout">Log out</a>
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
